active_profile: default_profile
imported_skills: {} 
scripts:
  hello:
    command: echo "hello world!"
    cwd: null
    delay: 0
    description: 命令行输出hello world
    timeout: 120

system:
  log_dir: ./logs
  debug: false  # debug 开关，设为true以显示更详细的日志到命令行，包括提示词等。
  name: Resonance
  user_profile_path: config/user_profile.yaml
  # 技能存放路径。支持Anthropic的 SKILLS ，默认为运行目录下的 SKILLS
  skill_storage_path: ../SKILLS
  version: 1.0.0
