logs
DirLister.py
directory_listing_with_content.txt
.vscode
config/config.yaml
config/profiles.yaml
config/user_profile.yaml
__pycache__/
core/__pycache__
.pyc
.backup
config/config.yaml.backup

core/functools/__pycache__/tools.cpython-311.pyc
